.languages {
  padding: 20px;
  border-radius: 8px;
  background-color: #04060b;
  text-align: justify;
  margin-bottom: 20px;
  width: 100%;
  flex: 1;
  gap: 30px;
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffffff;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(50% - 30px);
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: #0b0d17;
  color: #f1faee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  outline: 2px solid #ffffff;
  background-color: #07080e;
  box-shadow: 5px 7px 0px 0px #57cc99;
}

.icon {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #57cc99;
}

.cardText {
  flex: 1;
  margin: 0;
}

.progressBar {
  width: 100%;
  margin-top: 10px;
  background-color: #1c1e29;
}

.progressBar .MuiLinearProgress-bar {
  background-color: #57cc99;
}

/* Media Queries */
@media (max-width: 992px) {
  .title {
    font-size: 22px;
  }

  .card {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 15px;
  }

  .icon {
    font-size: 1rem;
  }

  .cardText {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .languages {
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }

  .card {
    padding: 10px;
  }

  .icon {
    font-size: 0.9rem;
  }

  .cardText {
    font-size: 14px;
  }
}
